# os
.DS_Store

# Python
*.pyc
__pycache__/

# Django
*.log
*.pot
db.sqlite3

# Conda
env/
*.conda

# Node.js
node_modules/
build/

# VSCode
.vscode/

# jetbrains
.idea/

.env

.venv/

# 日志
backend/logs/
!backend/logs/.gitkeep
